Options +FollowSymLinks
RewriteEngine on

RewriteRule ^index$ index.php [L]
RewriteRule ^index/(.*)$ ^index.php?error=1&%{QUERY_STRING} [R]

RewriteRule home$ home.php [L]
RewriteRule logout$ logout.php [L]

RewriteRule ^users/email$ users.php?msg=email
RewriteRule ^users/login$ users.php?msg=login
RewriteRule ^users/(.*)$ users.php?id=$1&%{QUERY_STRING} [R]

RewriteRule ^add_shoes_parties$ add_shoes_parties.php [L]
RewriteRule ^view_shoes_parties$ view_shoes_parties.php [L]



RewriteRule ^purchase_stock$ purchase_stock.php [L]
RewriteRule ^view_purchase_stock$ view_purchase_stock.php [L]
RewriteRule ^view_all_stock$ view_all_stock.php [L]

RewriteRule ^air_lines/(.*)$ air_lines.php?id=$1&%{QUERY_STRING} [R]
RewriteRule ^air_lines$ air_lines.php [L]
RewriteRule ^view_air_lines$ view_air_lines.php [L]

